.formLogin{
    margin-top: 200px;
    margin-left: 40%;
    max-width: 25%;    
}
#botaoLogin{
    
    margin-top: 20px;
}
#botaoCadastro{
    position: relative;
    left: 57%;
    margin-top: 20px;

}